<% if flash[:notice].present? %>
  <h2><%= flash[:notice] %></h2>
<% end %>

<%= form_for @user do |f| %>
  <fieldset>
    <%= f.label :email %>
    <%= f.email_field :email, :required => true, :autofocus => true %>
  </fieldset>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field  :name, :required => true %>
  </fieldset>

  <fieldset>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </fieldset>

  <fieldset>
    <%= f.label :password %>
    <%= f.password_field  :password, :required => true %>
  </fieldset>

  <fieldset>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :required => true %>
  </fieldset>

  <%= f.submit "Sign Up!!" %>

<% end %>
