<%= image_tag @user.image, :class => 'feature' if @user.image.present? %>
<h1><%= @user.name %></h1>

  <div class="controls">
    <%= link_to 'Edit user', edit_user_path(@user) %>
  </div>

<%= month_calendar events: @posts do |date, posts| %>
  <%= date.day %>

  <% posts.each do |post| %>
    <div>
      <%= link_to cl_image_tag(post.image, :width=>150, :crop=>"crop"), post %>
    </div>
  <% end %>
<% end %>
