<%= cl_image_tag(@user.image, :transformation=>[
{:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
{:width=>200, :crop=>"scale"}]) %>

<h1><%= @user.name %></h1>

  <div class="controls">
    <%= link_to 'Edit user', edit_user_path(@user) %>
  </div>

<%= month_calendar events: @posts do |date, posts| %>
  <%= date.day %>
  <%= link_to "new post", new_post_path %>

  <% posts.each do |post| %>
    <div>
      <%= link_to cl_image_tag(post.image, :width=>150, :crop=>"crop"), post %>
    </div>
  <% end %>
<% end %>
