<% if flash[:error].present? %>
  <h2><%= flash[:error] %></h2>
<% end %>

<%= form_for(@post, :html => {:multipart => true}) do |f| %>
  <%= f.label :message %>
  <%= f.text_field :message %>

  <%= f.label "Image: " %>
  <%= f.cl_image_upload :image %>

  <%= f.label :date %>
  <%= f.date_field :start_time, :value => Date.current %>

  <%= f.submit %>
<% end %>
