<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for(@post, :html => {:multipart => true}) do |f| %>
  <%= f.label :message %>
  <%= f.text_field :message %>

  <%= f.label "Image: " %>
  <%= f.cl_image_upload :image %>

  <%= f.label :date %>
  <%= f.date_field :date, :value => Date.current %>

  <%= f.submit %>
<% end %>
