<% if @post.errors.present? %>
  <% @post.errors.full_messages.each do |pst| %>
    <li>* <%= pst.html_safe %></li>
  <% end %>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :message %>
  <%= f.text_field :message %>

  <%= f.label :image %>
  <%= f.url_field :image %>

  <%= f.label :date %>
  <%= f.date_field :date, :value => Date.current %>

  <%= f.submit %>
<% end %>
