<div class="container">
  <div class="mx-auto">
    <h1 class="text-center"><%= @post.start_time.strftime '%a, %b %e' %></h1>

    <div class="feature">
      <%= cl_image_tag(@post.image, :class => "img-fluid d-block mx-auto") %>
    </div>

    <div class="text-center" id="caption">
      <h3><%= @post.message %></h3>
    </div>

    <div class="text-center">
      <%= link_to 'Edit Post', edit_post_path(@post), :class => "btn btn-success" %>
      <%= link_to "Delete Post", @post, :method => 'delete', :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger" %>
    </div>
  </div>
</div>
